.body{
  background-image: url("../assets/96952.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
  color: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.titulo_menu{
  margin-left: 30px;
  font-weight: 900;
  font-family: sans-serif;
}
.sub_menu{
  margin-left: 30px;
  
}
ul{

  list-style: none;
}
li .botao_inicial{
  padding: 30px;
  width: 100%;
  font-size: 1.5em;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Times New Roman', Times;
  margin-bottom: 5px;
}

.botao_final{
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  text-align: center;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.topo_final{
  background-color: black;
  padding: 10px;
  font-weight: bold;
}



