@media only screen and (max-width: 700px) {
  .body ul{
    margin-right: 8%;
  }

  .titulo_menu{
    margin-right: 8%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .sub_menu{
    margin-right: 8%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }


}